body {
  padding-top:50px
}
.glyphicon-remove:hover {
  cursor:pointer
}

.login-form md-card {
  padding: 0 !important;
}

.login-form md-card-title {
  background-color: blue;
}

.md-button {
  /*text-transform: none;*/
}

.landing-div{
  text-align: center;
  background-image: url("../res/bg.jpeg");
}
