<liby-std-content ng-controller="CatalogSettingsCtrl" layout="column" flex>
  <liby-page-header headline="{{cat.title}}" subhead="{{cat.orgIdx}}/{{cat.catalogIdx}}">
      <md-button class="md-icon-button"
                 aria-label="view catalog entries"
                 ui-sref="catalog({org:cat.orgIdx, catalog:cat.catalogIdx, id:catalogId})">
        <md-tooltip>
          <translate>Entries</translate>
        </md-tooltip>
        <md-icon md-svg-icon="list"></md-icon>
      </md-button>
  </liby-page-header>
  <md-card layout-padding>
    <mdt-card-title>
      <md-card-title-text class="md-headline">Owners</md-card-title-text>
    </mdt-card-title>
    <md-chips ng-model="cat.ownerIds" readonly="!cat._meta.isOwned"
              md-transform-chip="addOwner($chip)"
              md-on-remove="removeOwner($chip)" >
      <md-chip-template>
        {{cat._meta.userIdMap[$chip].username}}
      </md-chip-template>
    </md-chips>
  </md-card>
  <md-card layout-padding>
    <mdt-card-title>
      <md-card-title-text class="md-headline">Readers</md-card-title-text>
    </mdt-card-title>
    <md-chips ng-model="cat.readerIds" readonly="!cat._meta.isOwned"
              md-transform-chip="addReader($chip)"
              md-on-remove="removeReader($chip)" >
      <md-chip-template>
        {{cat._meta.userIdMap[$chip].username}}
      </md-chip-template>
    </md-chips>
  </md-card>
</liby-std-content>
