<div flex layout="column" layout-align="center center" class="full-height text-center front-page">
  <md-content ng-controller="FrontPageCtrl">
    <div class="front-page-center-row">
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <img src="../res/logo.svg" width="365px"/>
        <h1 class="md-display-4 brand-text">Liby.cat&nbsp;</h1>
      </section>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <h2 class="md-display-1">catalog, <i>for your library</i></h2>
      </section>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised" md-colors="{background:'green'}" ui-sref="signUp">
          <i class="fa fa-user-plus" aria-hidden="true"></i> Sign up
        </md-button>
        <md-button class="md-raised md-primary" ui-sref="login">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
        </md-button>
      </section>
    </div>
  </md-content>
</div>
