<liby-std-content ng-controller="OwnedCatalogsCtrl" layout="column" flex>
    <section>
      <h2>Catalogs</h2>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <liby-catalogs cats=ownedCatalogs></liby-catalogs>
      </div>
    </section>
  <md-button class="md-fab md-raised md-fab-bottom-right"
             md-colors="{background:'red'}"
             aria-label="create new catalog"
             ui-sref="create-catalog">
    <md-icon ng-style="{color:'white'}">add</md-icon>
  </md-button>
</liby-std-content>
