<header>
  <h1>Library</h1>
  <form class="new-task" ng-submit="$ctrl.addBook($ctrl.newBook)">
    <input ng-model="$ctrl.newBook.title" type="text" name="title" placeholder="book title"/>
    <input ng-model="$ctrl.newBook.author" type="text" name="author" placeholder="author"/>
    <input type="submit" id="submit" value="submit" />
  </form>
</header>

<ul>
  <li ng-repeat="book in $ctrl.books">
    <span>{{book.serial}}</span>
    <span>{{book.title}}</span>
    <span>{{book.author}}</span>
  </li>
</ul>