<liby-std-content ng-controller="CatalogCtrl" layout="column" flex>
  <div layout-margin>
    <mdt-table mdt-row="{
                      data: entries,
                      'column-keys': [
                          'title',
                          'author',
                          'orgIdx',
                          'catalogIdx'
                      ]
                      }">
      <mdt-header-row>
        <mdt-column >Title</mdt-column>
        <mdt-column >Author</mdt-column>
        <mdt-column >org</mdt-column>
        <mdt-column >cat</mdt-column>
      </mdt-header-row>
    </mdt-table>
  </div>
</liby-std-content>
