<div>
  <md-content ng-controller="LoginCtrl" layout="row"
              layout-align="space-around"
              layout-padding="layout-padding"
              ng-cloak="ng-cloak" class="inset login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><span>Sign in</span></h2>
        </div>
      </md-toolbar>
      <md-card-content>
        <form name="Form">
          <md-input-container class="md-block">
            <label>Username or email</label>
            <input type="text" name="login" ng-model="vm.formData.login" placeholder="login" required=""
                   maxlength="64"/>
            <div ng-messages="Form.login.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your username or email.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="vm.formData.password" placeholder="password" required=""/>
            <div ng-messages="Form.password.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your password.</div>
            </div>
          </md-input-container>
          <section layout="row" layout-align="space-between center">
            <md-button ng-click="vm.submit()" class="md-raised md-primary">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
            </md-button>
            <md-button ng-click="vm.goHome()" class="push-right" ui-sref="frontPage">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i> go back
            </md-button>
          </section>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
  <!-- Angular Material Dependencies-->

</div>
