{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-const-assign": 2,
    "max-len": ["error", 120, 2]
  }
}
