body {
  overflow-y: hidden !important;
}

.glyphicon-remove:hover {
  cursor: pointer
}

.login-form md-card {
  padding: 0 !important;
}

.login-form md-card-title {
  background-color: blue;
}

.md-button {
  /*text-transform: none;*/
}

.btn-no-trans{
  text-transform: none!important;
}

.full-height {
  height: 100%;
}

.md-sidemenu-button md-icon{
  margin: 0;
}
.front-page {
}

.new-entry md-input-container .md-errors-spacer {
  display: none;
}
.new-entry form{
  padding-left: 24px;
  padding-top: 6px;
}

.s48 {
  width: 48px;
  height: 48px;
}
.brand-text{
  font-family: 'Rancho';
}
mdt-table md-content {
  background: white;
}
.top-brand{
  font-size: 29px;
}
.text-center{
  text-align: center;
}
md-toolbar.std-toolbar{
  background: #E0E0E0; /*grey-300*/
  color: #212121; /*grey-900*/
}
md-toolbar.std-toolbar md-icon {
  color:#757575;  fill:#757575; /*grey-600*/
}
md-toolbar.std-toolbar .md-icon-button:hover md-icon {
  color:#5D4037; fill:#5D4037;
}
