body {
  overflow-y: hidden !important;
}

.glyphicon-remove:hover {
  cursor: pointer
}

.simple-form md-card {
  padding: 0 !important;
}

.simple-form md-card-title {
  background-color: blue;
}

.md-button {
  text-transform: none !important;
}

.full-height {
  height: 100%;
}

.md-sidemenu-button md-icon {
  margin: 0;
}

.new-entry md-input-container .md-errors-spacer {
  display: none;
}

.new-entry form {
  padding-left: 24px;
  padding-top: 6px;
}

.s48 {
  width: 48px;
  height: 48px;
}

.brand-text {
  font-family: 'Rancho';
}

mdt-table md-content {
  background: white;
}

.top-brand {
  font-size: 29px;
}

.text-center {
  text-align: center;
}

md-toolbar.page-header {
  background: #E0E0E0; /*grey-300*/
  background: linear-gradient(to right top, #e8e8e8 41%, #E0E0E0 42%);
  color: #4E342E; /*brown-800*/
}

md-toolbar.page-header .md-subhead {
  color: #757575; /*grey-600*/
}

md-toolbar.page-header .md-toolbar-tools {
  background: linear-gradient(to right, #e8e8e8 5%, transparent 20%);
}

md-toolbar.page-header md-icon {
  color: #757575;
  fill: #757575; /*grey-600*/
}

md-toolbar.page-header .md-icon-button:hover md-icon {
  color: #07C;
  fill: #07C;
}

md-toolbar.form-header {
  background: #4E342E; /*brown-700*/
  color: #EFEBE9; /*brown-50*/
}

md-toolbar.form-header md-icon {
  color: #BCAAA4;
  fill: #BCAAA4; /*grey-600*/
}

md-toolbar.form-header .md-icon-button:hover md-icon {
  color: #fff;
  fill: #fff;
}

.pad-0 {
  padding: 0;
}

.hidden {
  display: none;
}

.hover-blu md-icon:hover {
  color: #07C;
  fill: #07C;
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 16px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

.hint div {
  position: relative;
  top: 4px;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

.pass-meter-col {
  width: 20%;
}

.front-page,
liby-simple-content {
  background:  #2d1c19 url("../res/bg/pexels-02.jpg") center no-repeat;
  background-size: cover;
}

.front-page-grad,
liby-simple-content md-content {
  background-color: transparent;
  background-image: linear-gradient(to top, #2d1c19 2%, rgba(45, 28, 25, .95) 25%, rgba(45, 28, 25, .75) 75%, rgba(45, 28, 25, .5) 100%);
}

.front-page md-content {
  background: transparent;
}

.front-page .brand-text,
liby-simple-content .brand-text {
  color: rgba(255, 255, 255, .85);
}

.front-page .brand-slogan {
  color: rgba(255, 255, 255, .75);
}

a {
  color: inherit;
  text-decoration: dotted underline;
}

a:hover {
  text-decoration: solid underline;
  color: #07C;
}

md-icon {
  min-height: 8px;
  min-width: 8px;
}

.v-div {
  color: rgba(255,255,255,.2);
}

.ack-logo-link a md-icon {
  width: 16px; height: 16px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ack-logo-link a:hover md-icon {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}
