body {
  overflow-y: hidden !important;
}

.glyphicon-remove:hover {
  cursor: pointer
}

.login-form md-card {
  padding: 0 !important;
}

.login-form md-card-title {
  background-color: blue;
}

.md-button {
  /*text-transform: none;*/
}

.btn-no-trans{
  text-transform: none!important;
}

.full-height {
  height: 100%;
}

.md-sidemenu-button md-icon{
  margin: 0;
}
.front-page {
}

.new-entry md-input-container .md-errors-spacer {
  display: none;
}
.new-entry form{
  padding-left: 24px;
  padding-top: 6px;
}

.s48 {
  width: 48px;
  height: 48px;
}
.brand-text{
  font-family: 'Rancho';
}
.top-brand{
  font-size: 29px;
}
.text-center{
  text-align: center;
}
