<md-card ng-repeat="cat in cats">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        {{ cat.title }}<sup>
        <span ng-if="cat._meta.isCreator">
          <md-tooltip>You created catalog</md-tooltip><md-icon md-svg-icon="crown-gold"></md-icon>
        </span>
        <span ng-if="cat._meta.isOwned && !cat._meta.isCreator" >
          <md-tooltip>You own this catalog</md-tooltip>
          <md-icon md-svg-icon="crown-azure"></md-icon>
        </span>
      </sup>
      </span>
      <span class="md-subhead">{{ cat.orgIdx}}/{{cat.catalogIdx}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-sm card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-if="cat._meta.isOwned" class="btn-no-trans md-icon-button"
               ui-sref="catalog-settings({org:cat.orgIdx, catalog:cat.catalogIdx, id: cat.id})">
      <md-icon>settings</md-icon>
    </md-button>
    <md-button class="btn-no-trans md-icon-button"
               ui-sref="catalog({org:cat.orgIdx, catalog:cat.catalogIdx, id: cat.id})">
      <md-icon md-svg-icon="list"></md-icon>
    </md-button>
  </md-card-actions>
</md-card>
