<div flex layout="column">
  <md-content layout="row" flex
              layout-align="space-around"
              class="simple-form">
    <div flex flex-gt-sm="50" flex-gt-md="33">
      <section layout="row" layout-sm="column" layout-align="center center"
               layout-wrap>
        <img src="../../res/logo.svg" width="128px" hide-xs/>
        <img src="../../res/logo.svg" width="80px" hide-gt-xs/>
        <h1 class="md-display-3 brand-text">
          Liby.cat
        </h1>
      </section>
      <main ng-transclude></main>
      <footer layout-margin>
        <md-divider></md-divider>
        <div class="text-center md-body-1" style="color:#bbb">
          Liby.cat &copy; 2017<br>
          <span class="md-caption">
          Powered by
          <i class="fa fa-github"></i> <a href="https://github.com/liby-cat/liby-cat">liby-cat</a>
          with <i class="fa fa-heart"></i> and NodeJS + LoopBack + MongoDB + AngularJS
        </span>
        </div>
      </footer>
    </div>
  </md-content>
</div>
