<div ng-if="loggedIn" layout="column" flex>
  <md-toolbar class="app-bar" md-colors="{background:'brown-900'}" >
    <div class="md-toolbar-tools pad-0" layout-align="space-between center">
      <div layout="row" flex layout-align="start" class="md-toolbar-tools">
        <md-button ng-click="toggleSideNav()">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-headline" layout="row" layout-align="center center">
          <md-icon md-svg-icon="logo-icon" class="s48"></md-icon>
          <span class="brand-text top-brand">Liby.cat</span>
        </span>
      </div>
      <div hide-xs layout="row" flex layout-align="end" class="md-toolbar-tools pad-0">
        <md-button class="btn-no-trans">
          <md-icon>person</md-icon>
          {{user.username}}
        </md-button>
        <md-button class="btn-no-trans" ng-click="log_out()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Log out
        </md-button>
      </div>
      <div hide-gt-xs layout="row" flex layout-align="end center" class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon>person</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="log_out()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <div class="main-container" layout="row" flex>
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm') && showSideNav" md-whiteframe="4" md-component-id="side-nav">
      <md-sidemenu>
        <md-sidemenu-group>
          <md-subheader class="md-no-sticky"><md-icon>person</md-icon>{{user.username}}</md-subheader>
          <md-sidemenu-button ui-sref="dashboard">
            <md-icon>dashboard</md-icon> <translate>Dashboard</translate>
          </md-sidemenu-button>
          <md-sidemenu-button ui-sref="orgs">
            <md-icon>local_library</md-icon> <translate>Orgs</translate>
          </md-sidemenu-button>
          <md-sidemenu-button ui-sref="owned-catalogs">
            <md-icon md-svg-icon="lib-case"></md-icon> <translate>My Catalogs</translate>
          </md-sidemenu-button>
          <md-sidemenu-button ui-sref="settings">
            <md-icon>settings</md-icon> <translate>Settings</translate></md-sidemenu-button>
          </md-sidemenu-content>
        </md-sidemenu-group>
        <md-divider></md-divider>
        <md-sidemenu-button ui-sref="catalog-list">
          <md-icon md-svg-icon="pile_books"></md-icon> <translate>Catalogs</translate>
        </md-sidemenu-button>
      </md-sidemenu>
    </md-sidenav>
    <md-content flex>
      <main ng-transclude></main>
    </md-content>
  </div>
</div>
<div ng-if="!loggedIn">
  NOT LOGGED IN
</div>
