<div ng-if="loggedIn">
  <md-toolbar>
    <header layout="row" layout-align="space-between center">
      <section layout="row" layout-align="start" class="md-toolbar-tools">
        <md-button>
          <md-icon>menu</md-icon>
        </md-button>
      </section>
      <section layout="row" layout-align="center center" class="md-toolbar-tools">
        <h1>Liby.cat</h1>
      </section>
      <section layout="row" layout-align="end" class="md-toolbar-tools">
        <md-button class="btn-no-trans"><md-icon>person</md-icon> {{user.username}} </md-button>
        <md-button class="btn-no-trans"><i class="fa fa-sign-out" aria-hidden="true"></i>logout </md-button>
      </section>
    </header>
  </md-toolbar>
  <div class="main-container" layout="row" flex>
    <md-sidenav md-is-locked-open="true">
      <md-list>
        <md-list-item><md-button>Org</md-button></md-list-item>
        <md-list-item><md-button>Catalogs</md-button></md-list-item>
        <md-list-item><md-button>Catalogs are very wide</md-button></md-list-item>
      </md-list>
    </md-sidenav>
    <md-content>
      <main ng-transclude></main>
    </md-content>
  </div>
</div>
<div ng-if="!loggedIn">
  NOT LOGGED IN
</div>
