<md-card ng-repeat="cat in cats">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        {{ cat.title }}<sup><md-tooltip>You own this catalog
          </md-tooltip><md-icon ng-if="cat._meta.isOwned" md-svg-icon="crown-sharp" style="fill: goldenrod"></md-icon>
      </sup>
      </span>
      <span class="md-subhead">{{ cat.orgIdx}}/{{cat.catalogIdx}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-sm card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ui-sref="catalog({id: cat.id})">View</md-button>
  </md-card-actions>
</md-card>
